{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>管理者一覧</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<!--<header>-->
<h1 class="h1title">
    <a href="{% url 'index' %}" title="メニュー画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/denwa.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu2">
	<div class="contents-miss">
		<h1>管理者一覧</h1>
	</div>

    <form action="{% url 'admin_master' %}" method="post">
		名前検索<input type="text" placeholder="名前入力">
		<input type="submit" value="検索">
	</form>

	<div class="reset button-bg from-left">
		<table class="details">
			<tr><th>氏名</th><th>ＩＤ</th><th>パスワード</th><th>編集</th><th>削除</th></tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="{% url 'admin_edit' %}"> 編集 </a></td>
				<td><a href="{% url 'admin_del_confirm' %}"> 削除 </a></td>
			</tr>
		</table>

		<br><br>
		<a href="{% url 'admin_add' %}"> 登録 </a><br><br>
		<a href="{% url 'admin_home' %}"> ホームに戻る </a>
	</div>
</article>

</body>
</html>