{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>問い合わせ対応一覧</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<!--<header>-->
<h1 class="h1title">
    <a href="{% url 'index' %}" title="メニュー画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/denwa.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu2">
	<div class="contents-miss">
		<h1>対応マニュアル一覧</h1>
	</div>

	<form action="{% url 'inquiry_search' %}" method="post">
        {% csrf_token %}
		タイトル検索<input type="text" name="title_key" placeholder="タイトル入力">
		<input type="submit" value="検索">
	</form>
    <form action="{% url 'inquiry_master' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="全件表示">
    </form>

	<div class="reset button-bg from-left">
        <table class="details">
			<tr><th>No</th><th>対応ID</th><th>タイトル</th><th>内容</th><th>編集</th><th>削除</th></tr>
			<tr>
                {% for inquiry_info in inquiry_info %}
                    <td>{{ inquiry_info.inquiry_no }}</td>
                    <td>{{ inquiry_info.inquiry_id }}</td>
                    <td>{{ inquiry_info.title }}</td>
                    <td>{{ inquiry_info.contents }}</td>
                    <td><form action="{% url 'inquiry_edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="inquiry_no" value="{{ inquiry_info.inquiry_no }}">
                            <input type="submit" value="編集">
                        </form>
                    </td>
                    <td><form action="{% url 'inquiry_del_confirm' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="inquiry_no" value="{{ inquiry_info.inquiry_no }}">
                            <input type="submit" value="削除">
                        </form>
                    </td>
                {% endfor %}
			</tr>
		</table>

		<br><br>
		<a href="{% url 'inquiry_add' %}"> 登録 </a><br><br>
		<a href="{% url 'admin_home' %}"> ホームに戻る </a>
	</div>
</article>

</body>
</html>