{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>利用者一覧 -新規登録 確認-</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<!--<header>-->
<h1 class="h1title">
    <a href="{% url 'index' %}" title="メニュー画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/denwa.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu2">
    <div class="contents-have">
        <h1>確認<span>-利用者登録-</span></h1>
    </div>

    <h4>この内容で登録します</h4>

    <table class="details">
        <tr><th>氏名</th><th>ＩＤ</th><th>パスワード</th></tr>
        <tr>
            <td>●</td>
            <td>●</td>
            <td>●</td>
        </tr>
    </table>

    <form action="{% url 'users_add_confirm' %}" method="post">
            {%  csrf_token %}
            <label class="centering">利用者名</label>
                <input type="text" name="user_name" id="user_name" value="{{ user_info.user_name.value }}" readonly ><br>

            <label class="centering">ユーザＩＤ</label>
                <input type="text" name="id" id="id" value="{{ user_info.id.value }}"  readonly><br>

            <label class="centering">メールアドレス</label>
                <input type="email" name="mail" id="mail" value="{{ user_info.mail.value }}"  readonly><br>

            <label class="centering">パスワード</label>
                <input type="password" name="pass_word" id="pass_word" value="{{ user_info.pass_word.value }}"  readonly><br>

            <input type="submit" value="登録">
        </form>
        <input type="button" value="戻る" onClick="javascript:history.go(-1);">

    <br><br>
    <div class="reset button-bg from-left">
        <a href="{% url 'users_add_comp' %}"> 登録 </a><br>
        <a href="{% url 'users_add' %}"> 修正 </a><br><br>
        <a href="{% url 'users_master' %}"> 一覧に戻る </a>
    </div>
</article>

</body>
</html>