{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>利用者 -登録 完了-</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<!--<header>-->
<h1 class="h1title">
    <a href="{% url 'index' %}" title="メニュー画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/denwa.png' %}" class="tel-fixed"></a>
</h1>

<!--</header>-->

<article class="backsayuu2">
    <div class="contents-have">
        <h1>完了<span>-利用者登録-</span></h1>
    </div>

    <h4>登録が完了しました</h4>

    <br><br>
    <div class="reset button-bg from-left">
        <a href="{% url 'admin_add' %}"> 続けて登録 </a><br>
        <a href="{% url 'users_master' %}"> 一覧に戻る </a>
    </div>
</article>

</body>
</html>