{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ホーム</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<h1 class="h1title">
    <a href="{% url 'member_login' %}" title="ホーム画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/denwa.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu">
    <div class="contents-miss">
        <h1>ホーム</h1>
    </div>

    <h3>機能を選択してください</h3>

    <div class="reset button-bg from-left">
        <a href="{% url 'tanbo_info' %}">- ルート検索 -</a><br><br><br>
        <a href="{% url 'tanbo_master' %}">- 田んぼ一覧 -</a><br><br><br>
        <a href="{% url 'kikai_master' %}">- 機械一覧 -</a><br><br><br><br><br>

        <a href="{% url 'member_logout' %}">- ログアウト -</a>
    </div>

    <br><br><br><br>
<!--    <footer class="footer">-->
{#    <div class="footer" id="footer">#}
{#        <h5>チーム定時退社</h5>#}
{#        〒73*-****<br>#}
{#        広島市南区比治山本町<br>#}
{#        TEL：***-****<br>#}
{#    </div>#}
<!--    </footer>-->
    <br>
</article>

<a href="tel:000-0000-0000">
    <img class="tel-fixed-phone" src="{% static 'systemdesign/images/denwa.png' %}"></a>

</body>
</html>