{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>機械 -編集 入力-</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<h1 class="h1title">
    <a href="{% url 'member_login' %}" title="ホーム画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/denwa.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu2">
    <div class="contents-have">
        <h1>入力<span>-機械編集-</span></h1>
    </div>

    <h3>↓ 必要な箇所を修正してください ↓</h3>
    <form action="{% url 'kikai_edit_confirm'%}" method="post">
        {%  csrf_token %}
	    <table class="write">
		    <td>
			    機械名：<input type="text" name="name" id="name" value="{{ meca_info.name }}" class="validate[required]" data-prompt-position="topLeft"><br>
			    全長：<input type="text" name="full_length" id="full_length" value="{{ meca_info.full_length }}" class="validate[required]" data-prompt-position="topLeft">(mm)<br>
			    全幅：<input type="text" name="full_width" id="full_widt" value="{{ meca_info.full_width }}" class="validate[required]" data-prompt-position="topLeft">(mm)<br>
			    条数：<input type="text" name="jousu" id="joukan" value="{{ meca_info.jousu }}" class="validate[required]" data-prompt-position="topLeft">(条)<br>
			    条間：<input type="text" name="joukan" id="joukan" value="{{ meca_info.joukan }}" class="validate[required]" data-prompt-position="topLeft">(cm)<br>
			    株間：<input type="text" name="kabuma" id="kabuma" value="{{ meca_info.kabuma }}" class="validate[required]" data-prompt-position="topLeft">(cm)<br>
			    一株本数調節量：<input type="text" name="adjusting" id="kabuma" value="{{ meca_info.adjusting }}" class="validate[required]" data-prompt-position="topLeft">(本)<br>
			    作業速度：<input type="text" name="workingspeed" id="kabuma" value="{{ meca_info.workingspeed }}" class="validate[required]" data-prompt-position="topLeft">(cm/m)<br>
		    </td>
	    </table>
        <br>
        <input type="submit" value="- 確認する -">
    </form>
    <br><br>
    <div class="reset button-bg from-left">
        <a href="{% url 'kikai_edit_confirm' %}">- 確認する -</a><br>
        <a href="{% url 'kikai_master' %}">- 機械一覧に戻る -</a>
    </div>
</article>

<a href="tel:000-0000-0000">
    <img class="tel-fixed-phone" src="{% static 'systemdesign/images/denwa.png' %}"></a>

</body>
</html>