{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>機械 -編集 確認-</title>

    <link rel="icon" href="http://saetl.net/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="img/x-icon" href="http://saetl.net/favicon.ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">

</head>
<body>
<h1 class="h1title">
    <a href="{% url 'member_login' %}" title="ホーム画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/mail.png' %}" class="tel-fixed"></a>
</h1>

<!--</header>-->
<div class="background">
    <div class="side"></div>

<article class="backsayuu">
    <div class="contents-have">
        <h1>確認<span>-機械編集-</span></h1>
    </div>

    <h3>↓ こちらの内容で編集します ↓</h3>
    <form action="{% url 'kikai_edit_comp'%}" method="post">
        {%  csrf_token %}
            <label class="centering">機械名</label>
                <input type="text" name="name" id="name" value="{{ meca_info.name.value }}" readonly ><br>

            <label class="centering">全長</label>
                <input type="text" name="full_length" id="full_length" value="{{ meca_info.full_length.value }}"  readonly><br>

            <label class="centering">全幅</label>
                <input type="text" name="full_width" id="full_width" value="{{ meca_info.full_width.value }}"  readonly><br>

            <label class="centering">条数</label>
                <input type="text" name="plant" id="plant" value="{{ meca_info.plant.value }}"  readonly><br>
                <input type="hidden" name="id" id="id" value="{{ id }}"><br><br>
            <input type="submit" value=" 登録する " class="button-default">

    </form>
    <br>
    <input type="button" class="button-default" value="- 修正する -" onClick="javascript:history.go(-1);">


    <h3>よろしいですか？</h3>

    <br><br>
{#    <div class="reset button-bg from-left">#}
{#        <a href="{% url 'kikai_edit_comp' %}">- 登録する -</a><br>#}
{#        <a href="{% url 'kikai_edit' %}">- 修正する -</a><br><br>#}
        <a href="{% url 'kikai_master' %}" class="fas fa-chevron-circle-left"> 機械一覧に戻る </a>
{#    </div>#}
</article>
    <div class="side"></div>
</div>

<a href="tel:000-0000-0000">
    <img class="tel-fixed-phone" src="{% static 'systemdesign/images/denwa.png' %}"></a>

</body>
</html>