{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>ログイン</title>

    <link rel="icon" href="http://saetl.net/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="img/x-icon" href="http://saetl.net/favicon.ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/responsive_menu.css' %}"><!--レスポンシブメニュー-->
    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/twilight.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/grey.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/masonry.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{% static 'systemdesign/js/vertical-responsive-menu.min.js' %}"></script>
    <script src="{% static 'systemdesign/js/scrolltopcontrol.js' %}"></script>
    <script src="{% static 'systemdesign/js/icheck.min.js' %}"></script>
    <script src="{% static 'systemdesign/js/jquery.customSelect.min.js' %}"></script>
    <script src="{% static 'systemdesign/js/jquery.infinitescroll.min.js' %}"></script>
    <script src="{% static 'systemdesign/js/jquery.masonry.min.js' %}"></script>
    <script src="{% static 'systemdesign/js/twilight.js' %}"></script>
</head>
<body>
<!--<header>-->
<h1 class="h1title">
    <a href="{% url 'index' %}" title="メニュー画面へ移動します" style="padding: 0 0.5em">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/mail.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu">
	<div class="contents-miss">
		<h1>ログイン</h1>
	</div>

	<h3>ＩＤとパスワードを入力してください</h3>
    <br><br>
    <form action="{% url 'member_login' %}" method="post">
        {% csrf_token %}
        <label class="centering">ユーザＩＤ</label>
            <input type="text" name="user_name" id="user_name"><br>
        <label class="centering">パスワード</label>
            <input type="password" name="pass_word" id="pass_word"><br>
        <br><br>

        <input type="submit" class="button-default" value=" ログイン ">
    </form>

    <br><br>
    <a href="{% url 'index' %}" class="fas fa-home"> メニューへ戻る </a>
    <br><br>

	<a href=""><span style="background-color:#fff;"><b>ID,PWをお忘れの方はこちら</b></span></a>
    <!--    <footer class="footer">-->
    <div class="footer" id="footer">
        <h5>チーム定時退社</h5>
        〒73*-****<br>
        広島市南区比治山本町<br>
        TEL：***-****<br>
    </div>
    <!--    </footer>-->
    <br>
</article>

<a href="tel:000-0000-0000">
    <img class="tel-fixed-phone" src="{% static 'systemdesign/images/denwa.png' %}"></a>

</body>
</html>