@charset "utf-8"; /*文字コード指定*/

/*
=========================
Vertical Reponsive Menu
=========================
*/
/* line 6, sass/import/mixins.scss */
.vertical_nav, .collapse_menu .collapse_menu--icon {
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*z-index: 9999;*/
}
/* line 14, sass/vertical-responsive-menu.scss */
* {
    box-sizing: border-box;
}
/* line 26, sass/vertical-responsive-menu.scss */
:focus, :active {
    outline: none;
}
/* line 32, sass/vertical-responsive-menu.scss */
.toggle_menu {/*ハンバーガーの位置*/
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: none;
    border: 0;
    text-align: center;
    cursor: pointer;
}
/* line 44, sass/vertical-responsive-menu.scss */
.toggle_menu i {
    display: block;
    font-size: 28px;
}
.fa-bars {
    color: #fff;
}
/* line 52, sass/vertical-responsive-menu.scss */
.vertical_nav {/*ハンバーガーをクリックした時のメニュータブの配置*/
    position: fixed;
    left: -200px;
    top: 6%;
    bottom: 0px;
    width: 200px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: #43bc00; /* Old browsers */
    background: -moz-linear-gradient(top, #43bc00 0%, #43bc00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43bc00), color-stop(100%, #43bc00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #43bc00 0%, #43bc00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #43bc00 0%, #43bc00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #43bc00 0%, #43bc00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #43bc00 0%, #43bc00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509B1C', endColorstr='#509B1C', GradientType=0 ); /* IE6-9 */
}
/* line 63, sass/vertical-responsive-menu.scss */
.vertical_nav__closed {
    left: -200px !important;
}
/* line 67, sass/vertical-responsive-menu.scss */
.vertical_nav__opened {
    left: 0px !important;/*box-shadow: rgba(0, 0, 0, 0.4) -30px 0 30px 30px;*/
}
/* line 73, sass/vertical-responsive-menu.scss */
.menu {/*メニュータブ中身の配置*/
    position: absolute;
    top: 50px;
    bottom: 40px;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* line 84, sass/vertical-responsive-menu.scss */
.menu--item1 {
    position: relative;
    min-height: 40px;
    line-height: 40px;
}

.menu--item2 {
    position: relative;
    min-height: 40px;
    line-height: 40px;
}
/* line 90, sass/vertical-responsive-menu.scss */
.menu--item__has_sub_menu .menu--link:before {
    position: absolute;
    top: 0;
    right: 15px;
    height: 100px;
    line-height: 40px;
    font-family: "FontAwesome";
    content: "\f0d7";
}
/* line 100, sass/vertical-responsive-menu.scss */
.menu--subitens__opened {
    background: #fff;
    color: #fff;
}
/* line 103, sass/vertical-responsive-menu.scss */
.menu--subitens__opened .menu--link {
    color: #000;
}
/* line 107, sass/vertical-responsive-menu.scss */
.menu--subitens__opened .sub_menu {
    display: block;
}
/* line 113, sass/vertical-responsive-menu.scss */
.menu--link {
    display: block;
    overflow: hidden;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
}
/* line 123, sass/vertical-responsive-menu.scss */
.menu--link:hover, .menu--link:hover .menu--label {
    color: #333;
    background: #fff;
}
/* line 131, sass/vertical-responsive-menu.scss */
.menu--icon {/*メニュータブのアイコン*/
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    /*font-size: 20px;*/
}
/* line 140, sass/vertical-responsive-menu.scss */
.menu--label {/*メニュータブの幅*/
    display: block;
    height: 150px;
    line-height: 40px;
}
/* line 148, sass/vertical-responsive-menu.scss */
.sub_menu { /*サブメニュープルダウン*/
    display: none;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: #509b1c; /* Old browsers */
    background: -moz-linear-gradient(top, #7da748 0%, #3a7203 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7da748), color-stop(100%, #3a7203)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7da748 0%, #3a7203 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7da748 0%, #3a7203 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7da748 0%, #3a7203 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7da748 0%, #3a7203 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509B1C', endColorstr='#509B1C',GradientType=0 ); /* IE6-9 */
}
/* line 154, sass/vertical-responsive-menu.scss */
.sub_menu--link {
    display: block;
    padding-left: 100px;
    padding-right: 16px;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}
/* line 162, sass/vertical-responsive-menu.scss */
.sub_menu--link:hover {
    color: #333;
    background: #fff;
}
/* line 168, sass/vertical-responsive-menu.scss */
.sub_menu--link__active {
    color: #000;
    font-weight: 500;
}
/* line 176, sass/vertical-responsive-menu.scss */
.collapse_menu {
    display: none;
}

@media (min-width: 768px) {/*メニュータブの外枠*/
    /* line 193, sass/vertical-responsive-menu.scss */
    .vertical_nav {
        left: 0;
        top: 100px;
    }
    /* line 197, sass/vertical-responsive-menu.scss */
    .toggle_menu {
        display: none;
    }
}



/*メニューで使うGoogle Fontsの読み込み
---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
    margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


@media screen and (max-width:768px) {
    .slide-pic{
        height: 250px;
    }
    .disc{
        padding-top:5%;
    }
    /*>*/
    .next{
        /*top: 30px;*/
    }
    /*<*/
    .back{
        top: 30px;
    }
}

/*全体の設定
---------------------------------------------------------------------------*/
html,body {
    /* TODO height消す */
    /*height: 100%;*/
    bottom: auto;
}

/*背景
---------------------------------------------------------------------------*/
body {
    color: #333;                            /*文字色指定*/
    font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', serif; /*フォントの種類指定(左から優先順位)*/
    line-height: 2;                         /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
    background-position:50% 0;
    background-size: cover;
    text-align:center;                      /* 水平方向の揃え方指定 */
    -webkit-text-size-adjust: none;
    background-color: #ffffff;
}

.background{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.side{
    background-color: #3A7203;
    width: 10%;
}

.backsayuu{
    background-color: #ffffff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: inherit;
    margin-bottom: 3em;
}

.backsayuu2{
    background-color: #ffffff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
    margin: 0;                              /*ボックス外側の余白(値1つは上下左右をまとめて指定)*/
    padding: 0;                             /*ボックス内側の余白(値1つは上下左右をまとめて指定)*/
    border: 0;                              /*境界線指定*/
}

ol, ul {
    list-style: none;                       /*リストマーカーの種類指定(noneはなし)*/
}

.color1 {
    color: #990000;                         /*文字色指定*/
}


/*Webサイトの中でさらに別のWebサイトを読み込むことができるようになる設定
---------------------------------------------------------------------------*/
iframe {
    width: 100%;
}

/*ページ上の内容
---------------------------------------------------------------------------*/
header {
    position: fixed;                        /*ボックスの配置方法(fixedは固定)*/
    top: 0;                                 /*上からの距離(positionで指定している場合に適用)*/
    left: 0;                                /*左からの距離(positionで指定している場合に適用)*/
    width: 100%;                            /*幅指定(100%は画面横幅いっぱいに表示)*/
    height: 100px;                          /*領域の高さ指定*/
    background: #ffffff;                    /* 古いブラウザ用 */
    background: -moz-linear-gradient(top, #509B1C 0%, #509B1C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #509b1c), color-stop(100%, #509B1C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #509B1C 0%, #509B1C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #509B1C 0%, #509B1C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #509B1C 0%, #509B1C 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d09292 0%, #cf8888 100%); /* W3C */
    border-bottom: #333333;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509B1C', endColorstr='#509B1C', GradientType=0 ); /* IE6-9 */
    z-index: 1000;                          /*ボックス重なり順序指定*/
}

/*ページ下の内容
---------------------------------------------------------------------------*/
.footer {
    background-color: #FFFFFF;
    /*padding-top: 5em;*/
    margin: 8em 5em 0 5em;
    position: relative;
    padding: 1em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.footer:before, .footer:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.footer:before {left: 10px;}
.footer:after {right: 10px;}
.footer p {
    margin: 0;
    padding: 0;
}

/*メインの内容
---------------------------------------------------------------------------*/
article {
    width: 100%;                            /*幅指定(100%は画面横幅いっぱいに表示)*/
    padding-top: 10px;
}


/*index.html ボタン位置設定
---------------------------------------------------------------------------*/
#item {
    width: 100%;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unification {
    width: 11em;
    border: outset;
    margin-right: auto;
    margin-left: auto;
    padding: 1em 0 0 0;
    margin-bottom: 1.5em;
}
.unification a {
    width: 10%;
}


/*index.html 説明書き
---------------------------------------------------------------------------*/
.ta {
    margin: 1.5em auto 1.5em auto;
    width: 80%; /*幅指定(100%は画面横幅いっぱいに表示)*/
    /*ボックス外側の余白(値2つは左から上下,左右の値(左右autoで中央配置))*/
}

.ta td {
    /*border: 2px solid #3A7203;*/
    /*padding: 0 0 10px 10px;                 !*ボックス内側の余白*!*/
    color: #333;                            /*文字色指定*/
    font-size: 90%;                       /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
    font-weight: 600;                     /*フォントの太さ指定(normalは標準)*/
    text-align: left;                       /*行の水平方向の揃え方(leftは左寄せ)*/
    padding: 0 0 0 1.2em;
}

.ta th {
    width: 10em;
    border: 2px solid #3A7203;              /*境界線の一括指定(noneはなし)*/
    /*padding: 0 0 10px 10px;                 !*ボックス内側の余白*!*/
    color: #333;                            /*文字色指定*/
    font-size: 100%;                       /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
    font-weight: bold;                     /*フォントの太さ指定(normalは標準)*/
    text-align: center;                     /*行の水平方向の揃え方(leftは左寄せ)*/
    vertical-align: middle;
    padding: 0.7em 0 0 0;
}


/*テーブル details 確認・表示用
---------------------------------------------------------------------------*/
.details {
    width: 60%;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
.details, .details td, .details th {
    border: 2px solid #000000;              /*テーブルの枠線の幅、線種、色*/
    padding: 5px 5px;	                    /*ボックス内の余白*/
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
}
.details th {
    width: 140px;	                        /*幅*/
    text-align: center;	                    /*センタリング*/
    font-weight: bold;
    font-size: 25px;
}
.details td {
    text-align: left;
    font-weight: bold;
    font-size: 20px;

}
.details td img {
    width: 100%;
}


/*テーブル write　入力欄用
---------------------------------------------------------------------------*/
.write{
    border: none;                           /*テーブルの枠線の幅、線種、色*/
    table-layout: auto;
    margin-right: auto;
    margin-left: auto;
}

.write th{
    font-size: unset;
}

.write tr {
    text-align: center;
}

.write td {
    text-align: center;

}


/*ログイン画面（左右分割）
---------------------------------------------------------------------------*/
div#box1 {
    width: 50%;
    height: 50%;
    float: left;
}

div#box2 {
    width: 50%;
    height: 50%;
    float: right;

}

div#box3 {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}


/*植え方選択（プルダウン）
---------------------------------------------------------------------------*/
.hidden_box1 .hidden_show1 {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}
.hidden_box1 input:checked ~ .hidden_show1 {
    height: auto;
    opacity: 1;
    padding: 10px 0;
    text-align: center;

}


.hidden_box2 .hidden_show2 {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.hidden_box2 input:checked ~ .hidden_show2 {
    height: auto;
    opacity: 1;
    padding: 10px 0;
}


.hidden_box3 .hidden_show3 {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.hidden_box3 input:checked ~ .hidden_show3 {
    height: auto;
    opacity: 1;
    padding: 10px 0;
}


/*map設定
---------------------------------------------------------------------------*/
.gmap {
    position: relative;                         /*ボックスの配置方法(relativeは相対位置配置)*/
    padding-bottom: 56.25%;                     /*ボックス内側下の余白*/
    padding-top: 30px;                          /*ボックス内側上の余白*/
    height: 0;                                  /*領域の高さ指定*/
    overflow: hidden;                           /*ボックスのはみ出た部分の表示指定(hiddenは非表示)*/
}

.gmap iframe {
    position: absolute;                         /*ボックスの配置方法(absoluteは絶対位置配置)*/
    top: 0;                                     /*上からの距離(positionで指定している場合に適用)*/
    left: 0;                                    /*左からの距離(positionで指定している場合に適用)*/
    width: 100%;                                /*幅指定(100%は画面横幅いっぱいに表示)*/
    height: 100%;                               /*領域の高さ指定*/
}


/*説明書き
---------------------------------------------------------------------------*/
div#popup{
    width:25%;
    line-height: 250%;
    background:rgba(105,105,105,0.5);
    padding:0 4%;
    box-sizing:border-box;
    display:none;
    position:fixed;
    top:50%;
    left:85%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
}

/*img{
    width:2.5%;
}*/

label{
    display:block;
}

label span.explanation{
    display:block;
    background-color:#01b6ed;
    color:#fff;
    width:30px;
    line-height:40px;
    border-radius:4px;
    text-align:center;
}

label span.question:hover{
    cursor:pointer;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"]:checked + #popup{
    display:block;
    transition:.2s;
}


/*レスポンシブ設定
---------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {

    body {
        color: #333; /*文字色指定*/
        font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', serif; /*フォントの種類指定(左から優先順位)*/
        line-height: 2; /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
        background-position: 50% 0;
        background-size: cover;
        text-align: center; /* 水平方向の揃え方指定 */
        -webkit-text-size-adjust: none;
        background-color: #FFFFFF;
    }

    header {
        height: 55px; /*領域の高さ指定*/
        background-color: #8a8a8a;
    }

    .background{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .side{
        background-color: #3A7203;
        width: 10%;
        display: none;
    }


    .backsayuu {
        background-color: #ffffff;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        height: inherit;
    }

    .backsayuu2 {
        background-color: #ffffff;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        height: auto;
    }

    .footer {
        background-color: #FFFFFF;
        /*padding-top: 5em;*/
        margin: 8em 2em 0 2em;
        position: relative;
        padding: 1em 1.5em;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    label {
        display: block;
        font-size: 0.8em;
    }

    /*メインの内容
    ---------------------------------------------------------------------------*/
    article {
        width: 80%; /*幅指定(100%は画面横幅いっぱいに表示)*/
        margin-left: auto;
        margin-right: auto;
        padding-top: 65px;
    }

    /*index.html ボタン位置設定
    ---------------------------------------------------------------------------*/
    #item {
        /*width: 100%;*/
        /*position: relative;*/
        /*text-align: center;*/
        /**/
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: space-between;*/
        display: flex;
        /*コレ*/
        flex-direction: column;
        align-items: center;
    }

    .unification {
        width: 11em;
        /*margin-right: 35%;*/
    }

    .unification {
        display: -webkit-box;
        width: 15em;
        height: 6em;
        padding: 1.5em 0 0 1.5em;
    }

    .unification a {
        width: 30%;
    }


    /*テーブル details
    ---------------------------------------------------------------------------*/
    .details {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .details, .details td, .details th {
        border: 1px solid #000000; /*テーブルの枠線の幅、線種、色*/
        table-layout: fixed;
        word-break: break-all;
        text-align: center;
    }

    .details th {
        width: 60%; /*幅*/
        text-align: center; /*センタリング*/
        font-size: 60%;
    }

    .details td {
        text-align: left;
        font-weight: bold;
        font-size: 10px;

    }

    .details td img {
        width: 100%;
    }


    /*テーブル2 追加入力欄テーブル
    ---------------------------------------------------------------------------*/
    .write {
        width: 100%;
        border: none; /*テーブルの枠線の幅、線種、色*/
        table-layout: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .write tr {
        text-align: center;
    }

    .write td {
        text-align: center;
        font-size: 150%;
    }


    /*テーブル設定
    ---------------------------------------------------------------------------*/
    .ta th {
        border-collapse: collapse;
        font-size: 1em;
        width: 6em;
    }

    .ta td {
        border-collapse: collapse;
    }


    /*植え方選択・田んぼ選択
    ---------------------------------------------------------------------------*/
    .hidden_box1 {
        background: #FAFFFA;
        font-size: 150%;
        display: inline-block;
        color: black;
        width: 300px;
        height: 40px;
        line-height: 38px;
        border-radius: 10%;
        border: double 4px black;
        text-align: center;
    }


    /*植え方選択（プルダウン）
    ---------------------------------------------------------------------------*/
    .hidden_box1 .hidden_show1 {
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.6em;
    }

    .hidden_box1 input:checked ~ .hidden_show1 {
        height: auto;
        opacity: 1;
        padding: 10px 0;
        text-align: center;

    }


    .hidden_box2 .hidden_show2 {
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.6em;
    }

    .hidden_box2 input:checked ~ .hidden_show2 {
        height: auto;
        opacity: 1;
        padding: 10px 0;
    }


    .hidden_box3 .hidden_show3 {
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
    }

    .hidden_box3 input:checked ~ .hidden_show3 {
        height: auto;
        opacity: 1;
        padding: 10px 0;
    }


    /*ログイン画面（左右分割）
    ---------------------------------------------------------------------------*/
    .login input {
        width: 120px;
    }

    .login label {
        width: 60px;
        text-align: left;
    }

    div#box1 {
        width: 50%;
        height: 50%;
        float: right;
    }

    div#box2 {
        width: 50%;
        height: 50%;
        float: right;
    }

    div#box3 {
        margin-left: auto;
        margin-right: auto;
        clear: both;
    }

}