/*article (メイン画面設定)
---------------------------------------------------------------------------*/
.h1title{
    font-size: 200%;
    font-weight: bold;
    padding: 0% 10%;
    text-align: left;
    width: 100%;
    background-color: #fff;
}

h1 a{
    width: 50%;
    padding: 0 0 0 0.5em;
}

img.toicon{
    margin: 0.5em 0.5em 0.5em 1em;
    width: 2.5em;
}

.toiawase{
    margin-right: 50%;
    margin-left: auto;
}

.h1title a{
    text-decoration: none;
    color: #3A7203;
}

article h3{
    font-size: 150%;
    font-weight: bold;
}

article h4{
    font-size: 130%;
    font-weight: bold;
}

body h5 {
    font-size: 150%;
    /*margin-bottom: 10px;*/
    font-weight: bold;
}

.hidden_box h4{
    font-size: 100%;
    font-weight: bold;
}

/*見出しバー設定　span有
---------------------------------------------------------------------------*/
.contents-have {
    clear: both;
    overflow: hidden;
    padding: 5px 5px;	                    /*上下、左右に空けるボックス内の余白*/
    text-align: center;
}
.contents-have h1 {
    clear: both;
    font-size: 300%;	                    /*文字サイズ*/
    line-height: 1;                         /*行間*/
    margin-bottom: 20px;
    padding: 5px 10px;	                    /*上下、左右への余白*/
    background: #aeaeae;	                /*背景色（古いブラウザ用）*/
    background-image: url("../images/inaho.jpg"); /*背景画像*/
    border-bottom: 1px solid #666;	        /*メニュー下の線の幅、線種、色*/
    border-top: 1px solid #eeeeee;	        /*メニュー上の線の幅、線種、色*/
    color: #000;	                        /*文字色*/
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}
.contents-have h1 span {
    display: block;
    color: #000;	                        /*文字色*/
    font-size: 65%;	                        /*文字サイズ*/
    letter-spacing: 0.5em;	                /*文字間隔を少し広げる設定*/
}


/*見出しバー設定　span無
---------------------------------------------------------------------------*/
.contents-miss {
    clear: both;
    overflow: hidden;
    padding: 5px 5px;	                    /*上下、左右に空けるボックス内の余白*/
    text-align: center;
    background-color: #ffffff;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.contents-miss h1 {
    clear: both;
    font-size: 300%;	                    /*文字サイズ*/
    margin-bottom: 1em;
    padding: 5px 10px;	                    /*上下、左右への余白*/
    /*background: #aeaeae;	                !*背景色（古いブラウザ用）*!*/
    /*background-image: url("../images/inaho.jpg"); !*背景画像*!*/
    border-bottom: 1px solid #666;	        /*メニュー下の線の幅、線種、色*/
    border-top: 1px solid #eeeeee;	        /*メニュー上の線の幅、線種、色*/
    color: #000;	                        /*文字色*/
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}

/*入力欄・センタリング
    ---------------------------------------------------------------------------*/
.centering{
    text-align: left;
    font-size: 115%;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}


/*入力欄・色付け.フォント替え
---------------------------------------------------------------------------*/
input {
    color: #FFFFFF;
    font-size: 130%;
    width: 200px;
    background-color: #999999;
}


/*レスポンシブ設定
---------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    /*article (メイン画面設定)
---------------------------------------------------------------------------*/
    .h1title {
        font-size: 200%;
        font-weight: bold;
        padding: 0% 10%;
        text-align: left;
        width: 100%;
        background-color: #fff;
    }

    h1 a {
        width: 50%;
        padding: 0 0 0 0.5em;
    }

    img.toicon {
        margin: 0.5em 0.5em 0.5em 1em;
        width: 2.5em;
    }

    .toiawase {
        margin-right: 50%;
        margin-left: auto;
    }

    .h1title a {
        text-decoration: none;
        color: #3A7203;
    }

    article h3 {
        font-size: 150%;
        font-weight: bold;
    }

    article h4 {
        font-size: 130%;
        font-weight: bold;
    }

    body h5 {
        font-size: 150%;
        /*margin-bottom: 10px;*/
        font-weight: bold;
    }

    .hidden_box h4 {
        font-size: 100%;
        font-weight: bold;
    }

    /*見出しバー設定　span有
    ---------------------------------------------------------------------------*/
    .contents-have {
        clear: both;
        overflow: hidden;
        padding: 5px 5px; /*上下、左右に空けるボックス内の余白*/
        text-align: center;
    }

    .contents-have h1 {
        clear: both;
        font-size: 200%; /*文字サイズ*/
        line-height: 1; /*行間*/
        margin-bottom: 20px;
        padding: 5px 10px; /*上下、左右への余白*/
        background: #aeaeae; /*背景色（古いブラウザ用）*/
        background-image: url("../images/inaho.jpg"); /*背景画像*/
        border-bottom: 1px solid #666; /*メニュー下の線の幅、線種、色*/
        border-top: 1px solid #eeeeee; /*メニュー上の線の幅、線種、色*/
        color: #000; /*文字色*/
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-weight: bold;
    }

    .contents-have h1 span {
        display: block;
        color: #000; /*文字色*/
        font-size: 65%; /*文字サイズ*/
        letter-spacing: 0.5em; /*文字間隔を少し広げる設定*/
    }


    /*見出しバー設定　span無
    ---------------------------------------------------------------------------*/
    .contents-miss {
        clear: both;
        overflow: hidden;
        padding: 5px 5px; /*上下、左右に空けるボックス内の余白*/
        text-align: center;
        background-color: #ffffff;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .contents-miss h1 {
        clear: both;
        font-size: 200%; /*文字サイズ*/
        margin-bottom: 1em;
        padding: 5px 10px; /*上下、左右への余白*/
        /*background: #aeaeae;	                !*背景色（古いブラウザ用）*!*/
        /*background-image: url("../images/inaho.jpg"); !*背景画像*!*/
        border-bottom: 1px solid #666; /*メニュー下の線の幅、線種、色*/
        border-top: 1px solid #eeeeee; /*メニュー上の線の幅、線種、色*/
        color: #000; /*文字色*/
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-weight: bold;
    }

    /*入力欄・センタリング
        ---------------------------------------------------------------------------*/
    .centering {
        text-align: left;
        font-size: 115%;
        font-weight: bold;
        display: inline-block;
        width: 40%;
    }


    /*入力欄・色付け.フォント替え
    ---------------------------------------------------------------------------*/
    input {
        color: #FFFFFF;
        font-size: 130%;
        width: 200px;
        background-color: #999999;
    }
}
