{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>-田んぼルート検索-</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet" type="text/css"><!--googlewebフォント-->

    <link rel="stylesheet" href="{% static 'systemdesign/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'systemdesign/css/button.css' %}">
</head>
<body>
<!--<header>-->
<h1 class="h1title">
    <a href="{% url 'index' %}" title="メニュー画面へ移動します">田んぼルート検索</a>
    <a href="mailto:address"><img src="{% static 'systemdesign/images/mail.png' %}" class="tel-fixed"></a>
</h1>
<!--</header>-->

<article class="backsayuu2">
    <div class="contents-miss">
        <h1>!! エラー !!</h1>
    </div>

    <!-- ログイン（ID：〇　　pass：✖）エラー -->

    <h3>入力された パスワード は登録されていません<br>お手数ですがもう一度やり直してください</h3>

    <br><br>
{#    <div class="reset button-bg from-left">#}
        <a href="{% url 'login' %}" class="fas fa-chevron-circle-left">- ログイン画面に戻る -</a><br><br>
{#    </div>#}
</article>
</body>
</html>